<settings>
  <Show>1</Show>
  <Alert>1</Alert>
  <Precomp>0</Precomp>
  <Fix>1</Fix>
  <AutoName>1</AutoName>
  <OnlyEffect>1</OnlyEffect>
  <Selection>1</Selection>
  <SubItems>0</SubItems>
  <ListItems>
    <Name>Transition circle pack 1</Name>
    <Name>Effects</Name>
    <Name>ProjectTest</Name>
    <Name>Text</Name>
  </ListItems>
  <ParentGroup>
    <item groupName="Default">
      <Index>0</Index>
      <Index>1</Index>
      <Index>2</Index>
      <Index>3</Index>
    </item>
  </ParentGroup>
</settings>