<settings>
  <Show>1</Show>
  <Alert>1</Alert>
  <Precomp>0</Precomp>
  <Fix>0</Fix>
  <AutoName>1</AutoName>
  <OnlyEffect>0</OnlyEffect>
  <Selection>0</Selection>
  <SubItems>0</SubItems>
  <ListItems>
    <Name>Effects</Name>
    <Name>test</Name>
    <Name>Text</Name>
    <Name>Transition circle pack 1</Name>
    <Name>Project test</Name>
    <Name>Lightning pack 1</Name>
  </ListItems>
  <ParentGroup>
    <item groupName="Default">
      <Index>0</Index>
      <Index>1</Index>
      <Index>2</Index>
    </item>
    <item groupName="MG">
      <Index>3</Index>
      <Index>4</Index>
      <Index>5</Index>
    </item>
  </ParentGroup>
</settings>